

body{
  font-family: 'Ubuntu';
}

h2 {
  font-size: 20px;
}

.w3-ul li{
  border: none;
}
.w3-ul li button{
  border-radius: 5px;
}

.w3-padding-small{
  padding: 2px 16px !important;
}

.progress-bar-1, .progress-bar-2 {
  height: 15px;
  
}

.progress-bar-1{
  margin-top: 4px;
}

.progress-bar-2 {
  font-size: 0.7em;
}

/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../assets/flUhRq6tzZclQEJ-Vdg-IuiaDsNcIhQ8tQ.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  /* font-size: 24px; */
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

footer button{
  text-decoration:none;
  background-color: transparent;
  color:#ffffff;
  border: none;
}
footer button div{
  display: grid;
}
footer button i{
  font-size: 30px;
}
footer button span{
  font-size: 12px;
}

.calendar{
  position: relative;
  top: 3px;
}

/* #price_list li:nth-child(odd){background: #f2f2f2}
#price_list li:nth-child(odd):hover {background-color: #ccc !important;} */

#price_list li{
  background: #f2f2f2;
  border-radius: 5px;
  margin-bottom: 3px;
  padding: 0px 4px;
}

#price_list {
  margin: 0 16px;
}

#inventory_list li{
  border-radius: 5px;
  margin-bottom: 3px;
  padding: 0px 4px;
}

#inventory_list {
  /* margin: 0 16px; */
}

.qty{
  /* border: #eee solid; */
}

#price_list li:nth-child(odd) .qty{
  /* border: #ddd solid; */
}

#bank_modal footer button, #jet_modal footer button, #hospital footer button, #stuff footer button, #fight footer button, #inventory footer button, #msg footer button, #shark footer button {
  text-transform: uppercase;
}